<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128349119428-n2c0qsqp5k1a2tetlud007jfh4fkvm7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128349119428-n2c0qsqp5k1a2tetlud007jfh4fkvm7v</string>
	<key>API_KEY</key>
	<string>AIzaSyCNLWCwKNcN21W6tGNZjI9qk0YcUJH01L0</string>
	<key>GCM_SENDER_ID</key>
	<string>128349119428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sharaga.Messager</string>
	<key>PROJECT_ID</key>
	<string>messager-8a36d</string>
	<key>STORAGE_BUCKET</key>
	<string>messager-8a36d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128349119428:ios:9b8e7af5d235d823e7fa91</string>
</dict>
</plist>